# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
venv/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# Project
plan.md
